doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body 
        .bg-chameleon   
            h1 chameleon 123
            .light-element 
                h2 rules 
                ul#rules
                    li 1
                    li 2
                    li 3
                    li 4
                    li 5
                    li 6
                    li 7
                    li 8
                    li 9
        script(src="./app-light.js") 
